# Ignore compiled binaries for chemistry code
chemistry/src/*.o
chemistry/src/*.mod

# Ignore the .ipynb_checkpoints
.ipynb_checkpoints
diskmint/.ipynb_checkpoints
examples/example_RULup/.ipynb_checkpoints
